.sticky-banner.js-sticky-banner.active#sticky-banner
  .sticky-banner-content
    .sticky-banner-text
      %p.header-text
        Try
        %a{ href: "/pricing/" }GitLab
        risk-free for 30 days.
      %p.subheader-text
        No credit card required. Have questions?
        = link_to "Contact us.", "/sales/", class: "contact-us"
    .action
      = link_to "Get Your Free Trial Today", "/free-trial/", class: "btn featured-item-cta-btn"
  = image_tag "/images/icons/x.svg", id: "dismiss-trial", class: "dismiss-trial", alt: "Gitlab x icon svg"
:javascript
  (function() {
    var trialDismissed = false
    document.getElementById("dismiss-trial").addEventListener("click", dismissTrial)
    function dismissTrial() {
      document.getElementById('sticky-banner').style.display = "none";
    }
  })();
